html,body{height:100%; padding: 0; margin: 0;overflow: hidden;}

body, h1, h2, h3, h4, p, li, td, th, div{
	font-family:Roboto,Arial,sans-serif;
	font-size:12px;
	line-height: 20px;
}

body * {
	/*box-sizing:content-box;
	box-sizing:border-box;*/
}

.suggestion-type{
	width:10px;
	height:10px;
	display:inline-block;
	vertical-align:baseline;
	border-radius: 10px;
	margin-right: 3px;
}

.scroll ::-webkit-scrollbar,.scroll::-webkit-scrollbar {
	width: 6px;
	height: 9px
}

.scroll ::-webkit-scrollbar-button:start:decrement,.scroll ::-webkit-scrollbar-button:end:increment,.scroll::-webkit-scrollbar-button:start:decrement,.scroll::-webkit-scrollbar-button:end:increment
	{
	display: block;
	height: 0;
	background-color: transparent
}

.scroll ::-webkit-scrollbar-track-piece,.scroll::-webkit-scrollbar-track-piece
	{
	margin: 10px 0;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px
}

.scroll ::-webkit-scrollbar-thumb:vertical,.scroll::-webkit-scrollbar-thumb:vertical
	{
	height: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px
}

.scroll ::-webkit-scrollbar-thumb:horizontal,.scroll::-webkit-scrollbar-thumb:horizontal
	{
	width: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px
}
