html,body{height:100%; padding: 0; margin: 0;overflow: hidden;}

body, h1, h2, h3, h4, p, li, td, th, div{
	font-family:Roboto,Arial,sans-serif;
	font-size:12px;
	line-height: 20px;
}

body * {
	/*box-sizing:content-box;
	box-sizing:border-box;*/
}

textarea:focus, input:focus{
  outline: none;
	border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.diagram{
	background:#1f2124;
}

.node{
	stroke:#666;
}

.node .name{
	fill:#eeeeee;
}

.link{
	stroke:#aaa;
}

.diagram .selected{
	stroke:#ff4e00;
}

.history-panel{
	background: rgba(80,80,80,0.8);
}

.history-panel .item{
	border-bottom:solid #333 1px;
}

.history-panel .undo{
	color:#bbb;
}

.history-panel .redo{
	color:#777;
}

.history-panel .selected{
	background: rgba(130,130,130,0.8)
}

.history-panel .hover{
	background: rgba(100,100,100,0.5)
}

.panel-header{
	color:#cccccc;
	background: rgba(50,50,50,1);
	border-bottom:solid #333 1px
}

.vertex-find{
	color:#ccc;
}

.vertex-find .body{
	background-color:#333
}

.vertex-find input{
	color:#ccc;
	background-color:#222;
	border:solid 1px #4b4e55;
	font-size:12px;
	padding: 0 3px;
}

.rename-box{
	color:#ccc;
}

.rename-box .body{
	background-color:#333
}

.rename-box input{
	color:#ccc;
	background-color:#222;
	border:solid 1px #4b4e55;
	font-size:12px;
	padding: 0 3px;
}

.color-customize .body{
	color: #ccc;
	background:#444;
}

.msg{

}

.msg .body{
	background:#404756;
	color:#a5b5d9;
}

.suggestion-type{
	width:10px;
	height:10px;
	display:inline-block;
	vertical-align:baseline;
	border-radius: 10px;
	margin-right: 3px;
}

.autocomplete-suggestions{
	background-color: #444;
	border:none;
	padding-top:0px;
}

.autocomplete-suggestion{
	font-size:12px;
	border-bottom:solid 1px #222;
	padding: 0 2px;
	color:#aaa;
}

.autocomplete-suggestion.selected{
	background-color: #555;
}

.scroll ::-webkit-scrollbar,.scroll::-webkit-scrollbar {
	width: 6px;
	height: 9px
}

.scroll ::-webkit-scrollbar-button:start:decrement,.scroll ::-webkit-scrollbar-button:end:increment,.scroll::-webkit-scrollbar-button:start:decrement,.scroll::-webkit-scrollbar-button:end:increment
	{
	display: block;
	height: 0;
	background-color: transparent
}

.scroll ::-webkit-scrollbar-track-piece,.scroll::-webkit-scrollbar-track-piece
	{
	margin: 10px 0;
	-webkit-border-radius: 0;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px
}

.scroll ::-webkit-scrollbar-thumb:vertical,.scroll::-webkit-scrollbar-thumb:vertical
	{
	height: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px
}

.scroll ::-webkit-scrollbar-thumb:horizontal,.scroll::-webkit-scrollbar-thumb:horizontal
	{
	width: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px
}
